{% extends 'base.html.twig' %}

{% block title %}New RoomSettings{% endblock %}

{% block body %}
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2>Edition des paramètres</h2>
                </div>
                {{ include('room_settings/_form.html.twig') }}
            </div>
        </section>
    </main>
{% endblock %}
