<footer class="page-footer">
    <div class="container">
        <div class="links">Made with<a href="https://github.com/QUENTlN/game" target="_blank"><i class="icon ion-heart"></i></a>by LeGroupe5</div>
    </div>
</footer>