{% extends 'base.html.twig' %}

{% block title %}{% trans %}Accueil{% endtrans %}{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="highlight-blue" style="padding-top: 8em;">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">{% trans %}Créer un salon{% endtrans %}</h2>
                    <p class="text-center">{% trans %}Vous pouvez créer un salon en public pour jouer avec des inconnus ou un
                        salon privée et inviter vos amis.{% endtrans %}</p>
                </div>
                <div class="buttons">
                    <a class="btn btn-primary" role="button" href="{{ path('createRoom', {access: 'public'}) }}">{% trans %}Public{% endtrans %}</a>
                    <a class="btn btn-primary" role="button" href="{{ path('createRoom', {access: 'private'}) }}">{% trans %}Privée{% endtrans %}</a>
                </div>
            </div>
        </div>
    {% endif %}
    <main class="page projets-page">
        <section class="portfolio-block project-no-images">
            <div class="container">
                <div class="heading">
                    <h2><strong>{% trans %}Jouer dans un salon public{% endtrans %}</strong></h2>
                </div>
                {% if rooms is empty %}
                    <div class="heading">
                        <h6>{% trans %}Aucun salon publique n'est ouvert pour le moment{% endtrans %}</h6>
                    </div>
                {% else %}
                    <div class="row">
                        {% for room in rooms %}
                            {{ include('home/_open_public_room.html.twig', {room: room, games: games}) }}
                        {% endfor %}
                        {{ knp_pagination_render(rooms) }}
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
    {% include 'fragments/footer.html.twig' %}
{% endblock %}

