{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="highlight-blue" style="padding-top: 8em;">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Créer un salon</h2>
                    <p class="text-center">Vous pouvez créer un salon en public pour jouer avec des inconnus ou un
                        salon privée et inviter vos amis.</p>
                </div>
                <div class="buttons">
                    <a class="btn btn-primary" role="button" href="{{ path('createRoom', {access: 'public'}) }}">Public</a>
                    <a class="btn btn-primary" role="button" href="{{ path('createRoom', {access: 'private'}) }}">Privée</a>
                </div>
            </div>
        </div>
    {% endif %}
    <main class="page projets-page">
        <section class="portfolio-block project-no-images">
            <div class="container">
                <div class="heading">
                    <h2><strong>Jouer dans un salon publique</strong></h2>
                </div>
                {% if rooms is empty %}
                    <div class="heading">
                        <h6>Aucun salon publique n'est ouvert pour le moment</h6>
                    </div>
                {% else %}
                    <div class="row">
                        {% for room in rooms %}
                            {{ include('home/_open_public_room.html.twig', {room: room, games: games}) }}
                        {% endfor %}
                        {{ knp_pagination_render(rooms) }}
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
    {% include 'fragments/footer.html.twig' %}
{% endblock %}

