{% extends 'base.html.twig' %}

{% block title %}{% trans %}Email pour le changement de mot de passe envoyé !{% endtrans %}{% endblock %}

{% block body %}
    <div class="login-dark">
        <form action="{{ path('checkEmail') }}" class="gradient" method="post" style="filter: blur(0px);">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="fa fa-paper-plane"></i></div>
            <p>
                {% trans %}Un email vous a été envoyé contenant un lien vous permettant de réinitialiser votre mot de passe.
                Attention, ce lien expire dans {% endtrans %}{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>{% trans %}Si vous ne recevez pas de mail pas de panique ! Vérifiez dans vos spams ou {% endtrans %}<a href="{{ path('forgotPasswordRequest') }}" style="color:rgb(132,63,169);">{% trans %} réessayer l'envoi de mail{% endtrans %}</a>.</p>
            <div class="form-group"><a href="{{ path('home') }}" class="btn btn-primary">{% trans %}Retour à la page d'accueil {% endtrans %}</a></div></form>
    </div>
   {% endblock %}
