{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}
    <div class="row justify-content-center w-100" style="background-color: #000000"><img style="height: 100vh" src="https://http.cat/{{ status_code }}" alt="error {{ status_code }}"></div>
{% endblock %}