<h1>{% trans %}Salut  {% endtrans %}{{ player.pseudo }} !</h1>

<p>{% trans %}Apparemment tu aurais quelques petits soucis pour te rappeler de ton mot de passe ?
    Ne t'en fais pas nous sommes là pour toi ! Pour réinitialiser ton mot de passe, clique sur le lien suivant :{% endtrans %}</p>

<a href="{{ url('resetPassword', {token: resetToken.token}) }}">{{ url('resetPassword', {token: resetToken.token}) }}</a>

<p>{% trans %}Attention ce lien est éphémère, tout comme une série de victoire :( Il expire dans : {% endtrans %}{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>{% trans %}Amuse toi bien, et surtout no rage !{% endtrans %}</p>
